/* 搜索框 */
#zl_search_warp,
#zl_parse_catalog_warp {
  padding: 8px;
  position: fixed;
  z-index: 9999999;
  top: 50px;
  right: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.08),0 3px 6px -4px rgba(0,0,0,.12),0 9px 28px 8px rgba(0,0,0,.05);
}

#zl_search_warp .zl_search_text {
  height: 30px !important;
  width: 200px !important;
  margin-top: 8px;
  padding: 0 8px;
  background-color: #f8fbfc;
  border: 0.1rem solid #bbcbd0;
  border-bottom-width: 0.3rem;
  border-radius: 0.2rem;
  outline: none;
  color: #40444f;
  font-size: 14px;
  box-shadow: inset 0.1rem 0.4rem 0.8rem rgb(0 0 0 / 5%);
}

.zl_search_warp .zl_color_text {
  width: 60px;
  height: 24px;
}

#zl_search_warp .btns {

}

#zl_search_warp .btns input[type="text"] {
  height: 25px !important;
  width: 75px !important;
}

#zl_search_warp .zl_search_close,
#zl_parse_catalog_warp .zl_parse_close {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: top;
  text-align: center;
  border: 1px solid #333;
  border-radius: 2px;
  cursor: pointer;
}

#zl_search_warp .btns label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-right: 8px;
  font-size: 12px;
}

#zl_search_warp input[type="checkbox"] {
  height: 16px;
  width: 16px;
  margin-left: 8px;
  outline: none;
}

#zl_search_warp .zl_search_result_item {
  margin: 0 8px 8px;
  max-width: 350px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  white-space: break-spaces;
  word-break: break-all;
  cursor: pointer;
}

.zl_search_detail summary {
  cursor: pointer;
}

.zl_search_detail > div {
  overflow: auto;
  max-height: 500px;
}

.zl_search_selected {
  background-color: #de7100 !important;
  text-decoration: red wavy underline;;
}

/* 解析标题目录 */
#zl_parse_catalog_warp {
  max-width: 30%;
  max-height: 70%;
  overflow: auto;
}

#zl_parse_catalog_warp .zl_parse_t {
  white-space: nowrap;
  text-decoration: underline;
  cursor: pointer;
}
.zl_parse_t.h1 {
  counter-reset: h2;
}
.zl_parse_t.h2 {
  counter-reset: h3;
}
.zl_parse_t.h3 {
  counter-reset: h4;
}
.zl_parse_t.h4 {
  counter-reset: h5;
}
.zl_parse_t.h5 {
  counter-reset: h6;
}
.zl_parse_t.h1::before {
  counter-increment: h1;
  content: counter(h1) ". ";
}
.zl_parse_t.h2::before {
  counter-increment: h2;
  content: counter(h2) ". ";
}
.zl_parse_t.h3::before {
  counter-increment: h3;
  content: counter(h3) ". ";
}
.zl_parse_t.h4::before {
  counter-increment: h4;
  content: counter(h4) ". ";
}
.zl_parse_t.h5::before {
  counter-increment: h5;
  content: counter(h5) ". ";
}
.zl_parse_t.h6::before {
  counter-increment: h6;
  content: counter(h6) ". ";
}